<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Acciones</th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of coleccionProductos">
            <th scope="row">1</th>

            <td>
                <img src="{{product.imagen}}" alt="{{product.alt}}">
            </td>
            <td>{{product.nombre}}</td>
            <td>{{product.precio}}</td>
            <td>{{product.descripcion}}</td>
            <td>{{product.categoria}}</td>
          
            <!--Acciones-->
            <td>
                <button id="btn-edit" title="Editar" type="button" class="btn btn-outline-warning">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>

            <td>
                <button id="btn-delete" title="Eliminar" type="button" class="btn btn-outline-warning">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>
